[submodule "editcoder/finetuning-harness"]
	path = editcoder/finetuning-harness
	url = https://github.com/cassanof/finetuning-harness
[submodule "MultiPL-E"]
	path = MultiPL-E
	url = https://github.com/nuprl/MultiPL-E
[submodule "editpackft/code-dedup"]
	path = editpackft/code-dedup
	url = https://github.com/cassanof/code-dedup
